<div class="five wide column">
  <div class="box">
    <h2><span class="red">新闻资讯</span><span class="gray">NEWS</span></h2>
    <ul class="posts-list-home">
      <% Post.first(4).each_with_index do |post, i| %>
        <li>
          <span class="num"><%= i + 1 %></span>
          <%= link_to post.title.truncate(12), post %> <br>
          <span class="date"><%= post.created_at.strftime('%Y-%m-%d') %></span>
        </li>
      <% end %>
    </ul>
  </div>

  <div class=""><br>
    <a href="/contact"><%= image_tag "contact-insite-banner.gif", width: '292px' %></a>
  </div>
</div>