<div class="about">
  <div class="cc">
    <h3 class="ui dividing header" style="">公司简介</h3>
    <div class="highlighted example">
      <p>我公司是专业从事金刚石线设备和各种规格的金刚线线切割设备产品, 以及相关配套设德的生产的企业。生产的电镀线生产设备上砂效果好，速度快，已和国内几家金刚石线生产厂家取得了非常好的效果。最新研发的金刚石电镀上包括了自动穿线、松下在线成像检测系统，以及生产数据在线检测等先进技术，是一家专业对金刚石电镀线生产设备进行智能化生产的企业。</p>

      <p>我公司位于全国文明卫生城市，张家港市塘市镇，主营线材电线电缆表面处理设备以及金刚线切割设备。由我厂自主研发生产的金刚石线设备和各种规格的金刚线线切割设备产品以已赢得广大客户的认可， 本公司依靠自己团队研发实力，和先进技术理念，不断改进和技术创新，把天工机械打造成行业一流品牌， 公司竭诚欢迎相关企业人士，成为我们的客户，成为我们的朋友，成为我们的伙伴！总经理唐晓伟先生，欢迎各界朋友莅临参观、指导和业务洽谈。</p>

      <p>公司将秉承“合作 务实 领先 超越”的企业精神，服务于新能源行业，本着科研、产业、市场于一体的思想，大力推动硬脆性材料线切割行业的飞跃式发展，引领行业进步，最终为客户、为社会创造最大化的价值。期待与您携手，求同存异，共同发展！ </p>

      <p></p>
    </div>

    <div class="example">
      <h3 class="ui dividing header" style="">公司业务</h3>

      <p class="tips">金刚石电镀线设备</p>

      <p>用途：主要用于硅；宝石；水晶；陶瓷；玉石等贵重脆硬材料的切割加工。</p>

      <div class="ui two items">
        <div class="item">
          <div class="image">
            <img alt="A" src="/assets/a-5d75b54f08b192d5b528ae509b816330.jpg">
          </div>
        </div>

        <div class="item">
          <div class="image">
            <img alt="B" src="/assets/b-8f2715ea057eb24955fcf4c8887c8eba.jpg">
          </div>
        </div>
      </div>

      <p>
        1、用途：主要用于硅；宝石；水晶；陶瓷；玉石等贵重脆硬材料的切割加工。<br>
        2、生产成品线径：0.12—0.65mm <br>
        3、生产线速度：15—50m/min <br>
        .... ... <br> <br>

        <a href="http://www.zjg-tg.com/products">详细信息查看</a>
      </p>

      <h3 class="ui dividing header" style="">公司业务</h3>

      <p class="tips">金刚石线倒盘机</p>

      <p>用途：金刚石线的精密排线。</p>

      <div class="ui two items">
        <div class="item">
          <div class="image">
            <img alt="C" src="/assets/c-25d8d5f4926862258268e2ec4d22e189.jpg">
          </div>
        </div>

        <div class="item">
          <div class="image">
            <img alt="D" src="/assets/d-08b1e720c713fbfd4f4b0e74d5a47fb4.jpg">
          </div>
        </div>

        <p>
          1、 生产线径(mm)：0.08—0.6  <br>
          2、 最大生产速度(min)：500m <br>
          3、 额度生产速度(min)：400m <br>
          ... ... <br> <br>

          <a href="http://www.zjg-tg.com/products">详细信息查看</a>
        </p>
      </div>
    </div>
  </div>
</div>