<% title '张家港天工公司 联系我们' %>
<% description '张家港天工公司官方网站联系我们, 欢迎各界朋友莅临参观、指导和业务洽谈。' %>
<% keywords  '张家港天工 张家港天工机械 金刚石电镀 精密收线机 表面处理设备 联系我们' %>

<div class="content">
  <h3 class="title">联系我们</h3>

  <p>我公司位于全国文明卫生城市，张家港市塘市镇，主营线材电线电缆表面处理设备以及金刚线切割设备。由我厂自主研发生产的金刚石线设备和各种规格的金刚线线切割设备产品以已赢得广大客户的认可， 本公司依靠自己团队研发实力，和先进技术理念，不断改进和技术创新，把天工机械打造成行业一流品牌， 公司竭诚欢迎相关企业人士，成为我们的客户，成为我们的朋友，成为我们的伙伴！总经理唐晓伟先生，欢迎各界朋友莅临参观、指导和业务洽谈。</p>

  <div class="ui two items">
    <div class="item">
      <div class="image">
        <img alt="F" src="/assets/f-ced7191e8a880f5fa57663e9d7f85a62.jpg">
      </div>
    </div>

    <div class="item">
      <div class="image">
        <img alt="B" src="/assets/b-8f2715ea057eb24955fcf4c8887c8eba.jpg">
      </div>
    </div>
  </div>

  <div class="ui two items">
    <div class="item">
      <div class="content">
        <p class="tips">办公室电话</p>
        <dl class="contact">
          <dt>电话:</dt>
          <dd>0512 58905516</dd>
        </dl>
        <dl class="contact">
          <dt>电话:</dt>
          <dd>18662230008</dd>
          <dt>传 真:</dt>
          <dd>86 0512 58905516 </dd>
          <dt>地 址:</dt>
          <dd>中国 江苏 张家港市 塘市新泾中路康迅工业园 </dd>
          <dt>网 站:</dt>
          <dd><a href="http://zjgtgjx.1688.com/">http://zjgtgjx.1688.com/</a> <a href="http://zjg-tg.com/">http://zjg-tg.com/</a> </dd>
        </dl>
      </div>
    </div>

    <div class="item">
      <div class="content">
        <iframe width="425" height="280" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://ditu.google.com/maps?f=q&amp;source=s_q&amp;hl=zh-CN&amp;geocode=&amp;q=%E5%BC%A0%E5%AE%B6%E6%B8%AF%E4%B9%9D%E6%B4%B2&amp;aq=&amp;sll=31.913374,120.526628&amp;sspn=0.014499,0.028625&amp;brcurrent=3,0x35b3d8d0479c1261:0x7147778180c613dd,0,0x35b3a0d19bd25e07:0x21e57f85bd766004%3B5,0,0&amp;ie=UTF8&amp;hq=%E4%B9%9D%E5%B7%9E&amp;hnear=%E6%B1%9F%E8%8B%8F%E7%9C%81%E8%8B%8F%E5%B7%9E%E5%B8%82%E5%BC%A0%E5%AE%B6%E6%B8%AF%E5%B8%82&amp;t=m&amp;fll=31.828379,120.546584&amp;fspn=0.003628,0.007156&amp;st=103079826847897130309&amp;rq=1&amp;ev=p&amp;split=1&amp;ll=31.856482,120.5511&amp;spn=0.001814,0.003578&amp;iwloc=13927579936870624553&amp;output=embed"></iframe><br><small><a href="https://ditu.google.com/maps?f=q&amp;source=embed&amp;hl=zh-CN&amp;geocode=&amp;q=%E5%BC%A0%E5%AE%B6%E6%B8%AF%E4%B9%9D%E6%B4%B2&amp;aq=&amp;sll=31.913374,120.526628&amp;sspn=0.014499,0.028625&amp;brcurrent=3,0x35b3d8d0479c1261:0x7147778180c613dd,0,0x35b3a0d19bd25e07:0x21e57f85bd766004%3B5,0,0&amp;ie=UTF8&amp;hq=%E4%B9%9D%E5%B7%9E&amp;hnear=%E6%B1%9F%E8%8B%8F%E7%9C%81%E8%8B%8F%E5%B7%9E%E5%B8%82%E5%BC%A0%E5%AE%B6%E6%B8%AF%E5%B8%82&amp;t=m&amp;fll=31.828379,120.546584&amp;fspn=0.003628,0.007156&amp;st=103079826847897130309&amp;rq=1&amp;ev=p&amp;split=1&amp;ll=31.856482,120.5511&amp;spn=0.001814,0.003578&amp;iwloc=13927579936870624553" style="color:#0000FF;text-align:left">查看大图</a></small>
      </div>
    </div>
  </div>

</div>