<h3 class="title">天工产品</h3>

<div class="products">
  <div class="ui four items">
    <% @products.each do |product| %>
      <div class="item" style='min-height: 275px;'>
        <div class="image">
          <%= link_to product do  %>
            <%= image_tag product.logo.thumb.url %>
          <% end %>
        </div>

        <div class="content">

          <div class="name"><%= link_to product.name, product %></div>
          <div class="">Price: (面议)</div>
        </div>
      </div>
    <% end %>
  </div>
</div>