<h3 class="title">天工产品</h3>

<div class="products">
  <div class="ui four items">
    <div class="item">
      <div class="image">
        <a href="/products/1"><img alt="Thumb img 3138" src="/uploads/product/logo/1/thumb_IMG_3138.JPG"></a>
      </div>

      <div class="content">

        <div class="name"><a href="/products/1">电镀金刚线设备</a></div>
        <div class="">Price: (面议)</div>
      </div>
    </div>
  </div>
</div>